SECRET_KEY=ваш_секретный_ключ

DEBUG=

 # имя вашей базы данных
NAME=
#  имя пользователя PostgreSQ
USER=
# пароль пользователя PostgreSQL
PASSWORD=
# адрес сервера базы данных
HOST=
# порт, на котором работает PostgreSQL, обычно 5432
PORT=


# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.yandex.ru
# EMAIL_PORT=465
# EMAIL_USE_SSL=True
# EMAIL_HOST_USER=твой_логин@yandex.ru
# EMAIL_HOST_PASSWORD=твой_пароль_приложения
# DEFAULT_FROM_EMAIL=твой_логин@yandex.ru